<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="BreakDOM - A remix of the classic Breakout game.">
	<meta name="author" content="Matthijs Kuiper">
	<title>BreakDOM</title>
	<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>
	<div id="breakdom"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
